/* .homepage{
    
} */

.homescreen{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
}

.homescreen h1{
    font-size: 3.5em;
    padding: 0.7em 0;
    color: rgb(75, 75, 231);
}

.homescreen p{
    font-size: 2.7em;
    padding: 0.2em 0;
}

#work {
    padding: 6em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

#work .ballgecko {
    position: absolute;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    transition-duration: 10s ease;
}

#work .ballgecko .text {
    margin-right: 8em;
    transition-duration: 5s;
}

#work .ballgecko .text .title {
    font-size: 4em;
    margin-bottom: 0.3em;
}

#work .ballgecko .text .type {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #505050;
    margin-bottom: 1em;
}

#work .ballgecko .right-arrow {
    position: absolute;
    top: 45%;
    right: 1px;
    font-size: 3em;
    color: rgb(75, 75, 231);
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  
#work .ballgecko .left-arrow {
    position: absolute;
    top: 45%;
    left: 1px;
    font-size: 3em;
    color: rgb(75, 75, 231);
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }

  
@media screen and (max-width: 760px){
    .homescreen .shape{
        display: none
    }

    .homescreen h1{
        font-size: 3em;
        padding: 0.3em 0;
   
    }
    
    .homescreen p{
        font-size: 2.5em;
        padding: 0.1em 0;
    }

    #work .ballgecko {
        flex-direction:column; 
        top:1em
    }

    #work .ballgecko .text {
        display: flex;
        justify-content: space-between;
        margin: 0 0 3em 0;
        width: 100%
    }

    #work .ballgecko .text .titleDiv{
        flex: 0.6
    }

    #work .ballgecko .text .typeDiv{
        flex: 0.4
    }

    #work .ballgecko .text .title {
        font-size: 3em;
        margin-bottom: 0.3em;
    }
    #work .ballgecko .text .type {
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        color: #505050;
        margin-bottom: 0;
    }
  }

  @media screen and (max-width: 538px){
    .homescreen {
        width:100%
    }
    
    .homescreen h1{
        font-size: 2.7em;
        padding: 0.2em 0;
   
    }
    
    .homescreen p{
        font-size: 1.9em;
        /* padding: 0.1em 0; */
    }

    #work {
        padding: 4em 0; 
    }

    #work .ballgecko {
        flex-direction:column       
    }

    #work .circle img {
        width: 200px;
        height: 200px;    
    }

    #work .ballgecko .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1em 0;
        width: 100%
    }

    #work .ballgecko .text .title {
        font-size: 2em;
        margin-bottom: 0.3em;
    }

    #work .ballgecko .design {
        margin-top: 1em;
    }
    #work .ballgecko .design img{
        width: 200px;
        height: 120px; 
    }
  }