.homepage{
    padding: 3em 6em;
}



.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
  
}

.header h1{
    text-transform: uppercase;
}

.header ul li{
    font-size: 1.3em;
}

.homescreen{
    display: flex;
    justify-content: space-between;
}

.homescreen h1{
    font-size: 3.5em;
    padding: 0.7em 0;
    color: blue;
}

.homescreen p{
    font-size: 3em;
    padding: 0.2em 0;
}