/* .about{ */
    /* padding: 3em 6em; */
    /* background: rgb(170, 170, 255) */
  
/* } */

.about .flex{
    /* padding: 3em 6em; */
    display: flex
}

.about .text p{
    font-size: 1.7em;
    margin-bottom: 1.5em;
    flex: 0.7;
}

.about .text h1{
    font-size: 2.5em;
    margin-bottom: 0.3em;
    color: blue
}

.about .technologies {
    border-left: 1px solid #bebebe;
   padding: 1em
}
.about .technologies p{
    font-size: 1.2em;
    flex: 0.3;
}

.about .technologies h2{
    color: blue;
    margin-bottom: 0.5em;
}

.about .technologies .stack{
    margin-bottom: 1.2em;
}

@media screen and (max-width: 760px){
    .about .flex{
        flex-direction: column;
    }
    
    .about .technologies {
        border-left: none;
       padding: 1.5em 0;
    }
    .about .technologies .tech {
        display: flex;
        justify-content: space-around;
    }
  }
  
  @media screen and (max-width: 538px){
    
    
    .about .text p{
        font-size: 1.6em;
        margin-bottom: 0.5em;
        flex: 0.7;
    }
    
    .about .text h1{
        font-size: 2.5em;
        margin-bottom: 0.3em;
        color: blue
    }
  }