*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans';
}

.light{
  padding: 3em 6em;
}

.dark{
  padding: 3em 6em;
  background: #111111;
  color: #fff
}

li{
  list-style: none;
}

a{
  text-decoration: none
}